@import "../../node_modules/bootstrap/dist/css/bootstrap.css";


.key{
    text-transform: capitalize;
    color:blue;
    font-weight: bold;
}

.value{
    text-transform: capitalize;
    color:brown;
}

.btn{
    border-radius:0;
}