@import "../../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../../node_modules/font-awesome/css/font-awesom.css";

.key{
    text-transform: capitalize;
    color:blue;
    font-weight: bold;
}

.value{
    text-transform: capitalize;
    color:brown;
}

.btn{
    border-radius:2px;
}

.control-buttons{
    /*float:right;*/
}